<%provide(:title, 'About') %>

<div class='textbox'>
  <div id='about'>
    <h1>Artsy, the online art gallery.</h1>
    <p>Welcome to the most popular online exchange for original art and quality replicas.</p>
  </div>
</div>
