<%provide(:title, 'About') %>

<div class='textbox'>
  <div id='about'>
    <h1>Artastic, the online art gallery.</h1>
    <h2>Welcome to the most popular online exchange for original art and quality replicas.</h2>
    <h3>Artastic offers an ideal platform for finding, curating and promoting new art.</h3>
    <h3>Unlike other platforms for artisans and amateur or professional artists, Artastic is built on the principle that anyone can request to be a contributor. Once approved, users can add their own products to the inventory much like in a traditional marketplace where space can be purchased in order to showcase products.</h3>
  </div>
</div>
