<%provide(:title, 'Help') %>

<div class='textbox'>
  <div id='faq'>
    <h3>1. How do I place an order?</h3>
    <p>You can add as many items as you like and then proceed to the cart page and press the checkout button!</p>
    <h3>2. How can I order a bigger quantity of the same item?</h3>
    <p>Unfortunately an order can only contain a single copy of a particular item. This is because each order is treated as a separate commission for the artist. If you wish to have multiple versions of the same item please create a new order and add the same item again.</p>
    <h3>3. How long will it take for the item to arrive?</h3>
    <p>Every new commission will require between one and four weeks, shipping time can add a further two weeks to the total time. It's worth the wait!</p>
  </div>
</div>
