<%provide(:title, 'Help') %>

<div class='textbox'>
  <div id='faq'>
    <h3>1. How do I place an order?</h3>
    <p>Explanation</p>
    <h3>2. How can I order a bigger quantity of the same item?</h3>
    <p>Explanation</p>
  </div>
</div>
