<%provide(:title, 'Own Items') %>

<table id='table'>
  <% @history.reverse_each do |id| %>
    <% if id.user_id == current_user.id %>
      <% item = Item.find_by_id(id) %>
  
      <% times_ordered = 0 %>
      <% @ordered.each do |ordered| %>
        <% if ordered.item_id == item.id %>
          <% times_ordered += 1 %>
        <%end%>
      <%end%>
  
      <tr>
        <td>
          <div class='image'>
            <%= link_to (image_tag item.image.url, :style => 'height:40px'), item %>
          </div>
        </td>

        <td class='title'><%= link_to item.title, item %></td>

        <td>Times ordered: <%= times_ordered %></td>
        
        <% unless item.approved? %>
          <td>Pending</td>
        <%else%>
          <td>Approved</td>
        <%end%>
        
        <td><%= link_to 'Delete', item, method: :delete, data:{confirm:'Are you sure?'}, :class => 'button', :role => 'button' %></td>
      </tr>
    <%end%>
  <%end%>
</table>
