/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-width: 500px;
  background-color: #F5FFFA;
}

a:link {
  color: #191970;
  font-weight: bold;
}

a:visited {
  color: #191970;
}

a:hover {
  background-color: silver;
}

.home {
  text-decoration: none;
}

.home:hover {
  text-shadow: 3px 2px gold;
}

a.home:hover {
  background-color: transparent;
}

.header {
  background: url("/assets/site/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height:10px;
  width: 100%;
  margin-bottom:10px;
  overflow: auto;
}

.header h1 {
  color: #ffffff;
  font-size: 80px;
  padding: 15px;
}

ul {
  position:relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items:center;
  overflow: hidden;
  background-color: #333333;    
}

li {float:left;}

li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:link {
  color: #FFD700;
  font-weight: bold;
}

li a:visited {
  color: #FFD700;
}

.searchBox {
  display:inline-block;
  position:absolute;
  top:50%;
  right:0%;
  transform: translate(-50%, -50%);
}

.mainCont { 
    
  margin: auto;
  width:80%;
  border: 3px solid #b3e0ff;
  padding: 10px;
  text-align: center;
}

.welcomeImage {width: 30%;}

.footer {
  min-height: 40px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  margin-top: 10px;
  overflow: auto;
}

.footer a:link {
  color: #FFD700;
  font-weight: bold;
}

.footer a:visited {
  color: #FFD700;
}

#e-mail {
  padding: 0px 20px;
  width:40%;
	float:left;
}

#copyright{
  padding: 0px 20px;
	width:40%;
	float:right;
}

.container {
  background: url("/assets/Site/clubhead.png");
  background-repeat:no-repeat;
  background-position:right bottom;
  width: 100%;
  min-height: 700px;
}

#itemsContainer {
  width: 100%;
  text-align: center;
}

#itemsContainer h1 {
  display: block;
  color: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.itemBox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: inline-block;
  width: 22%;
  padding:10px;
  min-height: 300px;
}

.itemBox h1 {
  display: block;
  color: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}

.itemBox p {
   display: block;
  color: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px
}

.itemImage {
  width: 30%; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.textbox {
  width: 100%;
  text-align: center;
}

#about {
  width: 50%;
	display: inline-block;
	padding: 20px;
	background-color:#191970;
	border-radius:25px;
	color:#fff;
}

#faq {
  width: 50%;
	display: inline-block;
	padding: 20px;
	background-color:#191970;
	border-radius:25px;
	color:#fff;
	text-align: justify;
}

@media screen and (max-width: 1000px) {

  .header {
    background-size: cover;
  }
  
  .header h1 {
    font-size: 60px;
  }
  
  .searchBox {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .header h1 {
    font-size: 40px;
  }

}
